@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body {
  font-family: 'Droid Serif';
}

h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 20px
}

.note {
  display: block;
  border: #ddd 1px solid;
  padding: 2px;
  margin: 2px;
}

.attribution {
  display: block;
  text-align: right;
  font-size: 16px;
  color: darkgray;
}

.attribution a {
  color: darkgray;
}

.license {
  position: fixed;
  z-index: 60000;
  bottom: 0;
  left: 3px;
  font-size: 10px;
}